<!DOCTYPE html>
<html>
<head>
	<title>Cat</title>
</head>
<body>
	<form method="post">
		<label for="number">Entry number:</label>
		<input type="number" id="number" name="number"><br>
		<label for="text">Enter text:</label>
		<input type="text" id="text" name="text"><br>
		<label for="number">Entry number of line on the pictures:</label>
		<input type="number" id="num_lines" name="num_lines"><br>
		<input type="submit" value="Get">
	</form>
</body>
</html>
