{% extends 'base.html' %}
{% block content %}
{% for item in slider_items %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        {% if forloop.first %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
        <img src="{{ item.image.url }}" class="d-block w-100" alt="{{ item.link }}">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endfor %}
{% endblock %}